@import './styles/breakpoints.css';

:root {
  --off-black: #343231;
  --max-width: 1440px;
  --header-height: 64px;

  background-color: #FAF4F0;
  color: var(--off-black);
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1.5;
  position: relative;
  width: fit-content;


  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

* {
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: inherit;
  text-decoration: inherit;

  &:hover {
    color: #E86D6D;
  }

  &.external {
    text-decoration: underline;
  }
}

body {

}

h1 {
  &.headline {
    background-color: var(--off-black);
    color: white;
    font-size: 48px;
    line-height: 1;
    padding: 16px 16px;
    position: relative;
    top: -1px;

    @mixin breakpoint-up medium {
      padding: 16px 30px;
      font-size: 100px;
    }
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-block-start: 0;
  margin-block-end: 0;
}

footer {
  align-items: center;
  display: flex;
  font-size: 14px;
  height: var(--header-height);
  padding: 0 32px;
  width: 100vw;
  z-index: 2;

  @mixin breakpoint-down medium {
    display: none;
  }

  a, span {
    display: inline-block;
  }

  a {
    margin-right: 32px;
  }

  span {
    flex: 1;
    text-align: right;
  }
}


main {
  display: flex;
  flex: 1;
  flex-direction: column;
  height: 100%;

  > * {
    min-height: calc(100vh - var(--header-height) - var(--header-height));
  }
}

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
  width: 100vw;
}

.color-one {
  --color: #009698
}

.color-two {
  --color: #F7CE9C
}

.color-three {
  --color: #E86D6D
}