@import '../../styles/breakpoints.css';
@keyframes breathing {
    0% {
        transform: scale(2);
    }

    50% {
        transform: scale(2.2);
    }

    100% {
        transform: scale(2);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(50);
    }
}

@keyframes share {
    0% {
        transform: translateX(0) translateY(-48px);
        z-index: -2
    }
    30% {
        transform: translateX(300px) translateY(-48px);
        z-index: -2
    }
    100% {
        transform: translateX(250px) translateY(-48px);
        z-index: 2
    }
}

@keyframes share-mobile {
    0% {
        transform: translateX(0) translateY(0);
        z-index: -2
    }
    30% {
        transform: translateX(0) translateY(300px);
        z-index: -2
    }
    100% {
        transform: translateX(0) translateY(100px);
        z-index: 2
    }
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
body.wrong {
    background-color: var(--off-black);
}

body.right {
    background-color: white;
}

body.wrong .play-card {
    background-image: none;
    background-color: var(--color);
    border-width: 3px;
}

body.wrong .play-card .border {
    display: none;
}


.play-board {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 16px;
    overflow: scroll;
    width: 100%;

    @mixin breakpoint-up medium {
        padding-top: 0;
    }

    @mixin breakpoint-up large {
        align-items: center;
    }
}

#play-view {
    flex: 1;
    padding-bottom: 64px;
    min-height: unset;

    &.show-play {
        h1.headline {
            background-color: transparent;
            position: absolute;
            top: unset;
            z-index: -1;
        }
    }

    .headline-container {
        display: flex;
        justify-content: space-between;
    }

    .completed-text {
        font-size: 48px;
        padding-top: 100px;
        padding-left: 24px;
    }

    .score-container {
        display: flex;
        width: 100%;
    }

    .game-score {
        @mixin breakpoint-down medium {
            bottom: 0;
            display: block;
            left: 0;
            margin-top: 0;
            position: fixed;
            width: 100%;
            z-index: 2;
        }
    }

    .pie {
        &:before, &:after {
            @mixin breakpoint-down medium {
                background: none;
                display: none;
                --color: transparent
            }
        }
        .attempt-ratio {
            @mixin breakpoint-down medium {
                display: none;
            }
        }
    }

    .play-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
        width: 100%;

        @mixin breakpoint-down small {
            width: 740px;
            height: 100%;
            min-height: calc(100vh - 200px);
        }
    }

    .player-scores {
        @mixin breakpoint-down medium {
            background-color: var(--off-black);
            color: white;
            height: var(--header-height);
            width: 100%;
            z-index: 1;

            flex-direction: row;

            
        }

        .pie {
            top: 15px;
        }

        .attempt-ratio {
            display: none;

            @mixin breakpoint-up large {
                display: inline-block;
            }
        }

        .player-name {
            display: none;

            @mixin breakpoint-up large {
                display: unset;
            }
        }

        .player-score {
            justify-content: center;
            width: 100%;;
        }
    }

    .time {
        position: absolute;
        font-size: 36px;
        display: flex;
        align-items: center;
        width: 100vw;
        /* margin: 0 16px; */
        text-align: center;
        justify-content: center;

        @mixin breakpoint-down medium {
            width: 100%;
            
        }

        @mixin breakpoint-up medium {
            display: none;
        }
    }
}


.actions button {
    background-color: #8AD19F;
}

.not-active-play {
    display: flex;
    flex: 1;
    justify-content: center;
    
    width: 100%;

    @mixin breakpoint-up medium {
        padding-top: 10vh;
    }
}

.pending {
    display: flex;
    justify-content: center;

    .pending-container {
        align-items: center;
        background-color: var(--secondary-bg);
        display: flex;
        justify-content: center;
        
        padding:64px;

        @mixin breakpoint-up medium {
            position: fixed;
        }
    }

    .circle {
        background: white;
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: 160px;
        position: absolute;
        transition: background-color 90ms linear, transform 90ms linear;
        width: 160px;
        z-index: -1;
    }

    &.waiting {
        width: 100%;
        display: flex;
        flex-direction: column-reverse;
    
        
        @mixin breakpoint-up medium {
             transform: translateY(48px);
             flex-direction: row;

         }

        h1 {
            color: white;
            text-shadow: 2px 2px 38px rgb(0 0 0 / 0.4);
        }
        .circle {
            animation: breathing 5s ease-out infinite normal;
            background-color: var(--off-black);
            transform: scale(2);

        }

        .copy-border {
            display: flex;
            align-items: center;
            justify-content: center;
            border: 2px solid black;
            padding: 8px 16px;
            border-radius: 8px;

            @mixin breakpoint-up medium {
                border: none;
                flex-direction: column;
                padding: 0;
            }
        }

        .copyUrl {
            align-items: center;
            cursor: pointer;
            display: flex;
            justify-content: center;
            padding: 32px;

            @mixin breakpoint-up medium {
                
                animation-delay: 500ms;
                animation-duration: 2s;
                animation-fill-mode: forwards;
                animation-name: share-mobile;
                background-color: white;
                border-radius: 50%;
                color: var(--off-black);
                cursor: pointer;
                
                flex-direction: column;
                font-weight: bold;
                height: 160px;
                padding: 0;
                position: absolute;
                width: 160px;
                z-index: -2;
                animation-name: share;
            }

            .link {
                height: 64px;
            }
        }
     }

    &.countdown {
         color: var(--off-black);

        .circle {
            animation-duration: 3s;
            animation-name: grow;
            background: white;
        }

    }

    &.completed {
        .circle { display: none }
    }

    &.loading {
        color: var(--off-black);
    }
}