@import '../../styles/breakpoints.css';
@keyframes breathing {
    0% {
        transform: scale(2);
    }

    50% {
        transform: scale(2.2);
    }

    100% {
        transform: scale(2);
    }
}

@keyframes grow {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(50);
    }
}

@keyframes share {
    0% {
        transform: translateX(0) translateY(-48px);
        z-index: -2
    }
    30% {
        transform: translateX(300px) translateY(-48px);
        z-index: -2
    }
    100% {
        transform: translateX(250px) translateY(-48px);
        z-index: 2
    }
}

@keyframes share-mobile {
    0% {
        transform: translateX(0) translateY(0);
        z-index: -2
    }
    30% {
        transform: translateX(0) translateY(300px);
        z-index: -2
    }
    100% {
        transform: translateX(0) translateY(100px);
        z-index: 2
    }
}

@keyframes ellipsis {
    to {
        width: 1.25em;
    }
}
body.wrong {
    background-color: var(--off-black);
}

body.right {
    background-color: white;
}

body.wrong .play-card {
    background-image: none;
    background-color: var(--color);
    border-width: 3px;
}

body.wrong .play-card .border {
    display: none;
}


.play-board {
    align-items: center;
    display: flex;
    flex: 1;
    flex-direction: column;
    padding-bottom: 64px;
    padding-top: 16px;
    overflow: scroll;
    width: 100%;

    @mixin breakpoint-up medium {
        padding-top: 0;
    }
}

#play-view {
    flex: 1;
    padding-bottom: 64px;
    min-height: unset;

    &.show-play {
        h1.headline {
            background-color: transparent;
            position: absolute;
            top: unset;
            z-index: -1;
        }
    }

    .completed-text {
        font-size: 48px;
        padding-top: 100px;
        padding-left: 24px;
    }

    .game-score {
        margin-top: 48px;

        @mixin breakpoint-down medium {
            bottom: 0;
            display: block;
            left: 0;
            margin-top: 0;
            position: fixed;
            width: 100%;
            z-index: 2;
        }
    }

    .pie {
        &:before, &:after {
            @mixin breakpoint-down medium {
                background: none;
                display: none;
                --color: transparent
            }
        }
        .attempt-ratio {
            @mixin breakpoint-down medium {
                display: none;
            }
        }
    }

    .play-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        padding: 16px;
        width: 100%;

        @mixin breakpoint-down small {
            width: 740px;
            height: 100%;
            min-height: calc(100vh - 200px);
        }
    }

    .player-scores {
        @mixin breakpoint-down medium {
            background-color: var(--off-black);
            color: white;
            height: var(--header-height);
            width: 100%;
            z-index: 1;

            flex-direction: row;

            .pie {
                @mixin breakpoint-down medium {
                    position: absolute;
                }
            }
        }

        .attempt-ratio {
            display: none;

            @mixin breakpoint-up large {
                display: inline-block;
            }
        }

        .player-name {
            display: none;

            @mixin breakpoint-up large {
                display: unset;
            }
        }
    }

    .time {
        font-size: 36px;
        display: flex;
        align-items: center;
        width: 100px;
        margin: 0 16px;
        text-align: center;
        justify-content: center;

        @mixin breakpoint-down medium {
            width: 100%;
        }
    }
}


.actions button {
    background-color: #8AD19F;
}

.not-active-play {
    display: flex;
    flex: 1;
    justify-content: center;
    padding-top: 25vh;
    width: 100%;
}

.pending {
    display: flex;
    justify-content: center;

    .pending-container {
        align-items: center;
        display: flex;
        justify-content: center;
        position: fixed;
    }

    .circle {
        background: white;
        border-radius: 50%;
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
        height: 160px;
        position: absolute;
        transition: background-color 90ms linear, transform 90ms linear;
        width: 160px;
        z-index: -1;
    }

    &.waiting {
         transform: translateY(48px);
         width: 100%;

        h1 {
            color: white;
        }
        .circle {
            animation: breathing 5s ease-out infinite normal;
            background-color: var(--off-black);
            transform: scale(2);

        }

        .copyUrl {
            align-items: center;
            animation-delay: 500ms;
            animation-duration: 2s;
            animation-fill-mode: forwards;
            animation-name: share-mobile;
            background-color: white;
            border-radius: 50%;
            color: var(--off-black);
            cursor: pointer;
            display: flex;
            flex-direction: column;
            font-weight: bold;
            height: 160px;
            justify-content: center;
            position: absolute;
            width: 160px;
            z-index: -2;

            @mixin breakpoint-up medium {
                animation-name: share;
            }

            .link {
                height: 64px;
            }
        }
     }

    &.countdown {
         color: var(--off-black);

        .circle {
            animation-duration: 3s;
            animation-name: grow;
            background: white;
        }

    }

    &.completed {
        .circle { display: none }
    }

    &.loading {
        color: var(--off-black);
    }
}