@import '../../styles/breakpoints.css';

.how-to-play {
    font-size: 20px;


    h2, h3 {
        text-transform: capitalize;
        margin-block-end: 8px;
    }

    h2 {
        position: relative;
        left: -16px;
    }

    h3 {
        position: relative;
        left: -8px;
        margin-top: 8px;
    }

    p {
        padding: 0 16px;

        &.no-indent {
            padding: 0;
        }
    }

    .example {

        display: flex;
        flex-direction: column;
        font-size: 16px;
        margin-bottom: -48px;

        @mixin breakpoint-up medium {
            margin-bottom: 24px;
            align-items: center;
        }

        @mixin breakpoint-up large {
            margin: 48px 0 64px;
        }

        .correct-icon {
            display: flex;
            align-items: center;
            height: 110px;

            .Icon {
                height: 64px;
                margin-left: 16px;

            svg {
                transform: scale(0.8);
            }

            path {
                stroke: var(--off-black);
            }

            }
        }

    }

    .example-cards {
        display: flex;
        justify-content: center;

        transform: scale(0.45);

        @mixin breakpoint-up medium {
            transform: scale(0.8);
        }

        @mixin breakpoint-up large {
            margin-bottom: 8px;
            transform: scale(1);
        }

    }

    .example-heading {
        align-items: center;
        display: flex;

        svg {
          transform: scale(0.7) translateY(4px);
        }
    }

    .example-explanation {
        align-items: center;
        display: flex;
        font-weight: bold;
        justify-content: space-between;
        max-width: calc(100vw - 80px);
        position: relative;
        top: -32px;

        @mixin breakpoint-up medium {
            max-width: 550px;
            top: 0;
        }

        @mixin breakpoint-up large {
            max-width: unset;
            padding: 0 108px 0 32px;
        }
    }

    .how-to-play-container {
        max-width: 100vw;
        padding: 0 16px;

        @mixin breakpoint-up large {
            max-width: 800px;
            padding: 0;
        }
    }

    .gameplay {
        margin-top: 48px;

        @mixin breakpoint-up medium {
            margin-top: 16px;
        }

        @mixin breakpoint-up large {
            margin-top: 0;
        }
    }

    .view-content {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}