@import '../../styles/breakpoints.css';

.create-view {
    height: 100vh;
    position: relative;
    width: 100%;
}

.game-choice {
    display: flex;
    flex-direction: column;
    width: 320px;
    /*height: 320px;*/
    justify-content: center;
    align-items: center;
    position: relative;

    &.options {
        .players-headline, .duration-key {
            font-size: 40px;
            font-weight: bold;
            line-height: 60px;
        }
    }

    &.player-icons {
        @mixin breakpoint-up medium {
            left: 24px;
            top: 108px;
        }
    }
}

.game-duration {
    width: 100%;
    margin-top: 16px;
}

.duration-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.duration-value {
    font-size: 40px;
    font-weight: bold;
    line-height: 60px;
}


.game-choice.options {
    align-items: flex-start;
    background-color: var(--off-black);
    border-radius: 4px;
    color: white;
    padding: 8px 16px;
    z-index: 2;

    @mixin breakpoint-up medium {
        min-height: 240px;
        justify-content: flex-start;
        top: 48px;
    }

    .actions {
        align-items: center;
        bottom: -54px;
        cursor: pointer;
        display: flex;
        justify-content: flex-end;
        left: 16px;
        position: absolute;
        width: 100%;

        .play {
            align-items: center;
            display: flex;
            width: 100%;

            span {
                align-items: center;
                background: var(--off-black);
                border-radius: 8px;
                color: white;
                display: flex;
                font-size: 18px;
                font-weight: bold;
                height: 44px;
                justify-content: center;
                line-height: 22px;
                width: calc(100% - 32px);
            }

            svg path {
                fill: var(--off-black);
                stroke: var(--off-black);
            }
        }
    }

    .option-row {
        display: flex;
        justify-content: space-between;
        margin-bottom: 16px;
        width: 100%;

        &.discoverable-type {
            align-items: center;
            display: flex;
            justify-content: center;
        }

        &.discoverable-message {
            font-weight: bold;
            justify-content: center;
        }
    }

    .duration {
        margin-bottom: 0;

        .value {
            color: #E86D6D
        }
    }

    .players {
        .option-key { transform: translateY(10px); }
        .option-value {
            display: flex;
            transform: translateX(10px) translateY(4px);
        }

        svg {
            transform: scale(0.8);
            transition: transform 90ms ease-in-out;
        }

        .selected svg {
            transform: scale(1);
            path { stroke: #8AD19F; }
        }
    }

    .discoverable-type {
        margin-top: 16px;

        .discoverable-option {
            align-items: center;
            color: black;
            cursor: pointer;
            display: flex;
            flex-direction: column;
            transition: color 180ms ease-in-out;
            width: 86px;

            svg path {
                transition: stroke 180ms ease-in-out;
            }

            &:hover {
                color: white;

                svg path { stroke: white }
             }

            &.discoverable-selected {
                color: white;
                font-weight: bold;

                svg path { stroke: #F7CE9C }
            }
        }
    }

    .option-key, .option-value {
        font-size: 40px;
        font-weight: bold;
        line-height: 48px;
    }
}

.game-choices {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding-top: 64px;
    overflow-x: hidden;

    @mixin breakpoint-up medium {
        align-items: flex-start;
        flex-direction: row-reverse;
        justify-content: center;
    }

    &.P2 {
     .user-1 {
         transform: translateX(-52px);
     }
        .user-2 {
            z-index: 1;
            transform: translateX(64px) scale(0.75) translateY(-108px);
        }
    }
}

.game-choice {
    .user-icon {
        transition: transform 180ms ease-in;
        position: relative;
        top: 40px;
        svg {
            transform: scale(5);
        }
        svg path { stroke: #8AD19F; }
    }

    .user-2 {
        transform: translateX(100vw) scale(0.75) translateY(-80px);
        z-index: -1;

        @mixin breakpoint-up medium {
            transform: translateX(-300px) scale(0.75) translateY(-80px);
        }
    }
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 25px;
    background: white;
    border-radius: 4px;
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;

    &:hover {
         opacity: 1;
     }

     &::-webkit-slider-thumb {
          -webkit-appearance: none;
          appearance: none;
          width: 25px;
          height: 25px;
          background: #E86D6D;
          cursor: pointer;
      }

      &::-moz-range-thumb {
           width: 25px;
           height: 25px;
           background: #E86D6D;
           cursor: pointer;
       }
}
