@import './breakpoints.css';

.view-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: calc(100vh - 200px);
    position: relative;

    @mixin breakpoint-down small {
        align-items: flex-start;
    }

    &.players-1 {
        .score-0 .player-name,
        .score-1,
        .player-attempt h4,
        .attempts-theirs
        { display: none!important; }
    }
}

.view-heading {
    height: 150px;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;

    @mixin breakpoint-down small {
        justify-content: flex-start;
        position: absolute;
        z-index: -1;
    }
    h2 {
        position: absolute;
        color: white;
        font-size: 200px;
        margin-block-start: 0;
        margin-block-end: 0;
        line-height: 1.25;

        @mixin breakpoint-down medium {
            font-size: 24px;
        }
    }
}

.view-heading {
    height: unset;
    max-width: 330px;
    position: relative;
    display: flex;
    flex-direction: column;

    @mixin breakpoint-up medium {
        justify-content: flex-end;
        margin-bottom: -64px;
        max-width: unset;
    }

    h1 {
        line-height: 1;
        @mixin breakpoint-up medium {
            font-size: 24vw;
            line-height: 0.75;
        }
    }
}

.player-scores {
    display: flex;
    flex-direction: column;

    @mixin breakpoint-up medium {
        flex-direction: row;
    }

    .player-name {
        padding: 16px;
        font-size: 30px;
        font-weight: bold;
        text-transform: capitalize;
        transition: transform 90ms linear;
        width: 112px;
        z-index: 2;

        cursor: pointer;

        &:hover {
             transform: scale(1.2);
         }
    }

    .player-score {
        display: flex;
        align-items: center;
        transition: transform 180ms linear, opacity 180ms linear;

        @mixin breakpoint-up medium {
            flex-direction: row;
        }

        &.score-1 {
            @mixin breakpoint-up medium {
                flex-direction: row-reverse;
            }
         }

        &:hover {
             opacity: 1;
         }
        }

        .score {
            font-size: 22px;
        }

        .attempt-ratio {
            font-size: 18px;
            font-weight: 300;
            text-align: center;
        }
}

.default-view {
    h1 {
        //position: relative;
    }
    h2 {
        font-size: 64px;
        /*margin-top: 33vh;*/
        text-align: center;
    }

    .view-content {
        padding: 16px 0;
    }
}

.fill-one {
    /*dots*/
    background-image:
            radial-gradient(white 10%, transparent 19.2%),
            radial-gradient(white 10%, transparent 19.2%);
    background-position: 0px 0px, 12px 12px;
    background-size: 24px 24px;
    background-color: var(--color);
}

.fill-two {
    /*solid*/
    background-color: var(--color);
}

.fill-three {
    /*stripes*/
    background-image: repeating-linear-gradient(135deg, var(--color), var(--color) 8px, white 6px, white 14px);
}