.game-not-found {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h1 { font-size: 48px; margin-bottom: 64px; }
    h1 { font-size: 40px }
    img { transform: scale(3) }
}

.game-review {
    h3 {
        font-size: 20px;
    }

    &.selected-mine {
        .attempts-theirs { display: none }
        .score-theirs { transform: scale(0.8); opacity: 0.7; }
    }

    &.selected-theirs {
        .attempts-mine { display: none }
        .score-mine { transform: scale(0.8); opacity: 0.7; }
    }

    &.players-1 {
        .score-mine .player-name,
        .score-theirs,
        .player-attempt h4,
        .attempts-theirs
        { display: none!important; }
     }

    .game-info {
        position: relative;
        height: 250px;
        padding-top: 64px;
        font-size: 20px;
        width: 720px;

        .game-date {
            font-weight: bold;
        }

        .game-duration {
            font-size: 16px;
            margin-top: 0;
        }
    }
    .game-score {
        align-items: center;
        display: flex;
        font-size: 20px;
    }



    .outcome {
        margin-right: 8px;

        .Icon {
            display: flex;
            align-items: center;
            justify-content: center;

            path {
                stroke: white;
                stroke-width: 2.5;
            }

            svg {
                transform: scale(1.2) translateY(-2px) translateX(-13px);
                z-index: -1;
            }
        }
    }

    .player-attempt .attempts {
        padding-left: 96px;
    }

    .player-attempt { padding-top: 16px; }
    .player-attempt {
        padding: 64px 0 32px;
        position: relative;

        h4 {
            color: white;
            font-size: 84px;
            position: absolute;
            top: 0px;
            left: 32px;
            z-index: -1;
            margin-block-start: 0;
            margin-block-end: 0;
            line-height: 1;
        }
    }

    .game-attempts {
        transform: translateX(-36px);
        .attempt {
            align-items: center;
            display: flex;
            margin-bottom: 16px;

            &.incorrect .cards { opacity: 0.6 }
        }
        .cards {
            display: flex;
        }
        .outcome {
            width: 64px;
            display: flex;
            align-items: center;
        }
        .play-card .border {
            border-width: 0;
        }
    }
}